<a href="https://colab.research.google.com/github/avimonda298/Datascience-Visualization/blob/main/Numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
path="/content/sample_data/delhi_weather_data.zip"

In [ ]:
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

In [ ]:
with open('/gdrive/My Drive/foo.txt', 'w') as f:
  f.write('Hello Google Drive!')
!cat '/gdrive/My Drive/foo.txt'

In [ ]:
path="/gdrive/MyDrive/Colab_data_files/delhi_weather_data.zip"

In [ ]:
import os
os.listdir("/gdrive/MyDrive/Colab_data_files")

['delhi_weather_data.zip']

In [ ]:
import pandas as pd
import numpy as np
data=pd.read_csv(path)
data.head()
data.columns

Index(['datetime_utc', ' _conds', ' _dewptm', ' _fog', ' _hail',
       ' _heatindexm', ' _hum', ' _precipm', ' _pressurem', ' _rain', ' _snow',
       ' _tempm', ' _thunder', ' _tornado', ' _vism', ' _wdird', ' _wdire',
       ' _wgustm', ' _windchillm', ' _wspdm'],
      dtype='object')

In [ ]:
data.shape

(100990, 20)

In [ ]:
data.isnull()

,datetime_utc,_conds,_dewptm,_fog,_hail,_heatindexm,_hum,_precipm,_pressurem,_rain,_snow,_tempm,_thunder,_tornado,_vism,_wdird,_wdire,_wgustm,_windchillm,_wspdm
0,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,True,True,False
1,False,False,False,False,False,True,False,True,False,False,False,False,False,False,True,False,False,True,True,True
2,False,False,False,False,False,True,False,True,False,False,False,False,False,False,True,False,False,True,True,True
3,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,True,True,True
4,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100985,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,True,True,False
100986,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,True,True,False
100987,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,True,True,False
100988,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,True,True,False
100989,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,True,True,False

In [ ]:
data.mean(skipna = True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

 _dewptm          15.741205
 _fog              0.069690
 _hail             0.000129
 _heatindexm      35.651710
 _hum             57.909481
 _precipm               NaN
 _pressurem     1932.330949
 _rain             0.026260
 _snow             0.000010
 _tempm           25.451269
 _thunder          0.009427
 _tornado          0.000020
 _vism             2.402774
 _wdird          163.549974
 _wgustm          37.671175
 _windchillm       5.713817
 _wspdm            7.678463
dtype: float64

In [ ]:
data.columns

Index(['datetime_utc', '_conds', '_dewptm', '_fog', '_hail', '_heatindexm',
       '_hum', '_precipm', '_pressurem', '_rain', '_snow', '_tempm',
       '_thunder', '_tornado', '_vism', '_wdird', '_wdire', '_wgustm',
       '_windchillm', '_wspdm'],
      dtype='object')

In [ ]:
type(data[['_pressurem']].head())

pandas.core.frame.DataFrame

In [ ]:
data._pressurem

0         1010.0
1        -9999.0
2        -9999.0
3         1010.0
4         1011.0
           ...
100985    1005.0
100986    1003.0
100987    1002.0
100988    1004.0
100989    1005.0
Name: _pressurem, Length: 100990, dtype: float64

In [ ]:
data[['_pressurem']].fillna(value=np.mean(data._pressurem))

        _pressurem
0           1010.0
1          -9999.0
2          -9999.0
3           1010.0
4           1011.0
...            ...
100985      1005.0
100986      1003.0
100987      1002.0
100988      1004.0
100989      1005.0

[100990 rows x 1 columns]

In [ ]:
data.columns=['datetime_utc', '_conds', '_dewptm', '_fog', '_hail',
       '_heatindexm', '_hum', '_precipm', '_pressurem', '_rain', '_snow',
       '_tempm', '_thunder', '_tornado', '_vism', '_wdird', '_wdire',
       '_wgustm', '_windchillm', '_wspdm']

In [ ]:
!pwd

/content

In [ ]:
data.to_csv("abc.csv", index=False)

In [ ]:
sx=pd.read_csv("abc.csv")

In [ ]:
sx.head()

,datetime_utc,_conds,_dewptm,_fog,_hail,_heatindexm,_hum,_precipm,_pressurem,_rain,_snow,_tempm,_thunder,_tornado,_vism,_wdird,_wdire,_wgustm,_windchillm,_wspdm
0,19961101-11:00,Smoke,9.0,0,0,NaN,27.0,NaN,1010.0,0,0,30.0,0,0,5.0,280.0,West,NaN,NaN,7.4
1,19961101-12:00,Smoke,10.0,0,0,NaN,32.0,NaN,-9999.0,0,0,28.0,0,0,NaN,0.0,North,NaN,NaN,NaN
2,19961101-13:00,Smoke,11.0,0,0,NaN,44.0,NaN,-9999.0,0,0,24.0,0,0,NaN,0.0,North,NaN,NaN,NaN
3,19961101-14:00,Smoke,10.0,0,0,NaN,41.0,NaN,1010.0,0,0,24.0,0,0,2.0,0.0,North,NaN,NaN,NaN
4,19961101-16:00,Smoke,11.0,0,0,NaN,47.0,NaN,1011.0,0,0,23.0,0,0,1.2,0.0,North,NaN,NaN,0.0

In [ ]:
data[[' _dewptm', ' _hail']].head()

    _dewptm   _hail
0       9.0       0
1      10.0       0
2      11.0       0
3      10.0       0
4      11.0       0